body {
    border: solid black 5px;
    width: 100vw;
    height: 100vh;
}

.container {
    border: solid red 3px;
}

.container > div {
    border: solid blue 3px;
}

.choice-container {
    /* border: solid green 3px; */
}